<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cyberpank2077</title>
    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
    <header class="header">
      <div class="container header__container">
        <div class="header__top">
          <a class="header__logo" href="">
            <img src="images/logo.svg" alt="Logo" />
          </a>
          <nav class="header__social">
            <ul class="header__social-list">
              <li class="header__social-item">
                <a class="header__social-link" href="#">
                  <img src="images/youtube.svg" alt="" />
                </a>
              </li>
              <li class="header__social-item">
                <a class="header__social-link" href="#">
                  <img src="images/vk.svg" alt="" />
                </a>
              </li>
              <li class="header__social-item">
                <a class="header__social-link" href="#">
                  <img src="images/facebook.svg" alt="" />
                </a>
              </li>
              <li class="header__social-item">
                <a class="header__social-link" href="#">
                  <img src="images/twitter.svg" alt="" />
                </a>
              </li>
              <li class="header__social-item">
                <a class="header__social-link" href="#">
                  <img src="images/twitch.svg" alt="" />
                </a>
              </li>
              <li class="header__social-item">
                <a class="header__social-link" href="#">
                  <img src="images/instagram.svg" alt="" />
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__content">
          <h1 class="header__content-title">
            Доступно на всех платформах
          </h1>
          <button class="header__content-btn">Узнать больше</button>
        </div>
      </div>
    </header>
  </body>
</html>
